@charset 'UTF-8';
/*Todas as midias*/

/*Typical Device Breakpoints
-----------------------------
Pequenas telas :até 600px;
Celular :de 600 até 768px;
Tablet:768 até 992px;
Desktop : 992 até 1200px;
Grandes telas:acima de 1200px;

*/

@media screen and (min-width: 768px) { /* Inicia uma regra de mídia: estas regras só serão aplicadas quando a tela tiver uma largura mínima de 768 pixels (ou seja, 768px ou mais). */
    span#burguer { 
        display: none; /* Define que este elemento não será exibido. Ou seja, em telas maiores que 768px, o hambúrguer desaparece. */
    }
}

menu { 
    display: block; /* Define que o elemento <menu> será exibido como um bloco, ocupando a largura total disponível e iniciando em uma nova linha. */
}

menu > ul > li { 
    display: inline-block; /* Define que esses itens de lista serão exibidos em linha, um ao lado do outro, mas ainda permitindo que você defina largura e altura (diferente de 'inline'). */
}

main { 
    width: 768px; /* Define uma largura fixa de 768 pixels para o elemento <main>. */
}